---
import { Button, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>学生 / 开发者</p>
  <p>
    我是「嘉心糖Jaxon」，桂林航天工业学院电子信息工程专业 24 级在读生，热爱生活。
  </p>
  <p>
  <Spoiler>记录技术成长的点点滴滴</Spoiler>
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>📚 技术学习 - 持续学习，不断进步</li>
    <li>✍️ Blog分享 - 分享经验，帮助他人</li>
    <li>🎵 音乐欣赏 - 放松身心，激发灵感</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <!-- <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  /> -->
  <!-- <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  /> -->
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      // {
      //   name: 'Neovim',
      //   description: 'IDE',
      //   href: 'https://neovim.io/',
      //   icon: import('@/assets/tools/neovim.svg?raw')
      // },
      // {
      //   name: 'Sublime Text',
      //   description: 'IDE',
      //   href: 'https://www.sublimetext.com/',
      //   icon: import('@/assets/tools/sublime.svg?raw')
      // }
    ]}
  />
  <!-- <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  /> -->

  <!-- {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse> -->

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>版权:</p>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          '如你所见，本站中的所有原创内容及设计整体，除非特别说明，均使用 CC BY-NC-SA 4.0 协议进行授权。您可以在协议允许的范围内自由地分享、复制本作品的内容及基于本作品内容进行创作，但必须注明原作者和链接，并且不得用于任何商业目的。本站中的绝大多数博客封面均选自 Pixiv 的公开作品，并已注明原作链接。包括封面在内，本站中使用了一些来自互联网的图片等素材，均归属它们各自的权利持有人所有。如果本站中存在侵犯您权益的内容，请您联系我，我将尽快予以删除。'
      },

    ]}
  />
  <p>
    主题:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com' target='_blank'>Vercel</a>
    </li>

  </ul>
</PageLayout>
